/*! 
  * Created on : 2018-02-01, 12:45:01
  * Author     : Gabriela Leoniec <gabriela.leoniec@gmail.com>
**/
html {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 62.5%;
  font-weight: bold; }

.off-screen {
  height: 0;
  left: -300000px;
  margin-bottom: 0;
  margin-left: -300000px;
  margin-top: 0; }

.section__header {
  font-size: 25px;
  font-size: 2.5rem;
  padding: 10px;
  padding: 1rem;
  background: #db4a8f url("/lmn-logo-white.svg") no-repeat center;
  background-size: 90% 24px;
  border-bottom: 1px solid #a46786;
  box-shadow: 0 2px 2px 0 #b1b2b4;
  color: #fff;
  line-height: 1;
  margin: 0;
  text-align: center; }

.hotels__list {
  display: block;
  margin: 0;
  padding: 0; }

.hotels__hotel {
  padding: 13px 18px 11px 14px;
  padding: 1.3rem 1.8rem 1.1rem 1.4rem;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.list__element {
  font-size: 18px;
  font-size: 1.8rem;
  padding: 20px 10px 15px;
  padding: 2rem 1rem 1.5rem;
  background: #eee linear-gradient(180deg, #fff 0, #e7e7e7 100%);
  border-bottom: 1px solid #9b9b9b;
  border-top: 1px solid #b3b3b3;
  cursor: pointer;
  display: block;
  line-height: 1;
  list-style-type: none;
  margin: 0; }
  .list__element:first-of-type {
    border-top-width: 0; }

.hotel__image {
  height: 105px;
  height: 10.5rem;
  width: 124px;
  width: 12.4rem;
  background-color: #e7e7e7;
  background-size: cover; }

.hotel__details {
  margin-top: 10px;
  margin-top: 1rem;
  text-align: center; }

.hotel__name {
  font-size: 16px;
  font-size: 1.6rem;
  display: block;
  margin: 0;
  padding: 0; }
  .hotel__name::after {
    height: 18px;
    height: 1.8rem;
    background: url("/ratings.png") no-repeat center top;
    background-position-y: 1px;
    content: '';
    display: block;
    width: 100%; }
  .hotel__name.rating--1::after {
    background-position-y: -18px; }
  .hotel__name.rating--2::after {
    background-position-y: -36px; }
  .hotel__name.rating--3::after {
    background-position-y: -54px; }
  .hotel__name.rating--4::after {
    background-position-y: -72px; }
  .hotel__name.rating--5::after {
    background-position-y: -90px; }

.hotel__price {
  margin-top: 10px;
  margin-top: 1rem; }

.price__value {
  font-size: 24px;
  font-size: 2.4rem;
  color: #db4a8f;
  line-height: 1; }

.price__info {
  font-size: 12px;
  font-size: 1.2rem;
  color: #666; }

@media (min-width: 320px) {
  .section__header {
    background-size: auto; }
  .hotels__hotel {
    flex-wrap: nowrap; }
  .hotel__name::after {
    background-position-x: left; }
  .hotel__details {
    margin: 0 6px;
    margin: 0 0.6rem;
    position: relative;
    text-align: left; }
  .hotel__price {
    bottom: -9px;
    bottom: -0.9rem;
    right: -11px;
    right: -1.1rem;
    position: absolute; } }

@media (min-width: 640px) {
  .hotels {
    display: flex;
    padding: 35px 32px 48px; }
    .hotels__list {
      margin-right: 3%;
      width: 44%; }
    .hotels__hotel {
      padding: 36px 32px;
      padding: 3.6rem 3.2rem;
      border-bottom: 1px solid #9b9b9b;
      justify-content: left;
      width: 74%; }
  .hotel__image {
    height: 142px;
    height: 14.2rem;
    width: 170px;
    width: 17rem; }
  .hotel__details {
    margin-left: 35px;
    margin-left: 3.5rem;
    margin-right: 0;
    width: calc(100% - 205px);
    width: calc(100% - 20.5rem); }
  .hotel__price {
    bottom: 0;
    right: 0; }
  .list__element {
    border: 1px solid #9b9b9b; }
    .list__element:first-of-type {
      border-top-width: 1px; } }
